body,
button,
input,
select,
textarea {
	color: #505050;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

body.mce-content-body {
	max-width: 720px;
	margin: 1.5rem;
}

/* Main column width */

body.gutenberg-editor-page .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
	max-width: 720px;
	color: #505050;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

/* Main column width */

body.gutenberg-editor-page .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
	max-width: 720px;
}

/* Width of "wide" blocks */

body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: 1080px;
}

/* Width of "full-wide" blocks */

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

hr {
	height: 1px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: #ccc;
}

img {
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	height: auto;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

::-webkit-input-placeholder {
	color: #909090;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #909090;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #909090;
}

:-ms-input-placeholder {
	color: #909090;
}

::selection {
	color: #fff;
	background: #ff5722;
}

::-moz-selection {
	color: #fff;
	background: #ff5722;
}

ul,
ol {
	margin: 0 0 1.5rem 0;
	padding-left: 1.5rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5rem 1.5rem;
}

table {
	overflow: hidden;
	width: 100%;
	margin: 0 0 1.5rem;
	border-radius: 0.25rem;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}

caption {
	font-weight: bold;
}

th {
	font-weight: normal;
}

caption {
	margin-bottom: 1rem;
}

th,
td {
	padding: 0.75rem;
	text-align: left;
}

td p:last-child {
	margin-bottom: 0;
}

thead {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.025);
}

thead th {
	font-weight: 500;
}

tfoot {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

thead tr:nth-of-type(even),
tbody tr:nth-of-type(even),
tfoot tr:nth-of-type(even) {
	background-color: rgba(0, 0, 0, 0.025);
}

.table-responsive {
	display: block;
	overflow-x: auto;
	width: 100%;
	min-height: 0;
	margin-bottom: 10px;
	padding: 0.25rem;
}

.table-responsive table:last-child {
	margin: 0;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	position: relative;
	padding: 0.75rem 1rem;
	border: 1px solid #ff5722;
	border-radius: 0.25rem;
	color: #fff;
	background-color: #ff5722;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
	transition-property: background, color, opacity, transform, box-shadow;
}

.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #ff916f;
	color: #fff;
	background-color: #ff916f;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	z-index: 1;
	outline: none;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

.btn-cta {
	display: block;
	margin-bottom: 10px;
	padding: 0.75rem 0.5rem;
	border: 2px solid transparent;
	border-radius: 0.25rem;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-cta__white {
	border-color: #fff;
	color: #505050;
	background-color: #fff;
}

.btn-cta__white:hover,
.btn-cta__white:focus {
	border-color: #505050;
	color: #fff;
	background-color: #505050;
}

.btn-cta__primary {
	border-color: #1976d2;
	color: #fff !important;
	background-color: #1976d2;
}

.btn-cta__primary:hover,
.btn-cta__primary:focus {
	border-color: #4e9cea;
	color: #fff;
	background-color: #4e9cea;
}

.btn-cta__secondary {
	border-color: #607d8b;
	color: #fff !important;
	background-color: #607d8b;
}

.btn-cta__secondary:hover,
.btn-cta__secondary:focus {
	border-color: #8aa2ae;
	color: #fff;
	background-color: #8aa2ae;
}

.btn-cta__success {
	border-color: #4caf50;
	color: #fff !important;
	background-color: #4caf50;
}

.btn-cta__success:hover,
.btn-cta__success:focus {
	border-color: #80c883;
	color: #fff;
	background-color: #80c883;
}

.btn-cta__danger {
	border-color: #ff5722;
	color: #fff !important;
	background-color: #ff5722;
}

.btn-cta__danger:hover,
.btn-cta__danger:focus {
	border-color: #ff916f;
	color: #fff;
	background-color: #ff916f;
}

.btn-cta__warning {
	border-color: #ff9800;
	color: #fff !important;
	background-color: #ff9800;
}

.btn-cta__warning:hover,
.btn-cta__warning:focus {
	border-color: #ffb74d;
	color: #fff;
	background-color: #ffb74d;
}

.btn-cta__info {
	border-color: #00bcd4;
	color: #fff !important;
	background-color: #00bcd4;
}

.btn-cta__info:hover,
.btn-cta__info:focus {
	border-color: #22e6ff;
	color: #fff;
	background-color: #22e6ff;
}

.btn-cta__outline-white {
	border-color: #fff;
	color: #fff !important;
	background-color: transparent;
}

.btn-cta__outline-white:hover,
.btn-cta__outline-white:focus {
	border-color: #fff;
	color: #505050;
	background-color: #fff;
}

.btn-cta__outline-primary {
	border-color: #1976d2;
	color: #1976d2;
	background-color: transparent;
}

.btn-cta__outline-primary:hover,
.btn-cta__outline-primary:focus {
	border-color: #4e9cea;
	color: #fff;
	background-color: #4e9cea;
}

.btn-cta__outline-secondary {
	border-color: #607d8b;
	color: #607d8b;
	background-color: transparent;
}

.btn-cta__outline-secondary:hover,
.btn-cta__outline-secondary:focus {
	border-color: #8aa2ae;
	color: #fff;
	background-color: #8aa2ae;
}

.btn-cta__outline-success {
	border-color: #4caf50;
	color: #4caf50;
	background-color: transparent;
}

.btn-cta__outline-success:hover,
.btn-cta__outline-success:focus {
	border-color: #80c883;
	color: #fff;
	background-color: #80c883;
}

.btn-cta__outline-danger {
	border-color: #ff5722;
	color: #ff5722;
	background-color: transparent;
}

.btn-cta__outline-danger:hover,
.btn-cta__outline-danger:focus {
	border-color: #ff916f;
	color: #fff;
	background-color: #ff916f;
}

.btn-cta__outline-warning {
	border-color: #ff9800;
	color: #ff9800;
	background-color: transparent;
}

.btn-cta__outline-warning:hover,
.btn-cta__outline-warning:focus {
	border-color: #ffb74d;
	color: #fff;
	background-color: #ffb74d;
}

.btn-cta__outline-info {
	border-color: #00bcd4;
	color: #00bcd4;
	background-color: transparent;
}

.btn-cta__outline-info:hover,
.btn-cta__outline-info:focus {
	border-color: #22e6ff;
	color: #fff;
	background-color: #22e6ff;
}

.btn-cta__rounded {
	border-radius: 5rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	position: relative;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	color: #909090;
	background-color: rgba(255, 255, 255, 0.5);
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
	transition-property: background, color, opacity, transform, box-shadow;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	z-index: 1;
	outline: none;
	color: #606060;
	background-color: white;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

select {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	color: #909090;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) calc(1em + 3px), calc(100% - 10px) calc(1em + 3px);
	background-size: 5px 5px, 5px 5px;
	text-indent: 1px;
	text-overflow: "";

	-webkit-appearance: none;
	-moz-appearance: none;
}

select:focus {
	z-index: 1;
	outline: none;
	color: #606060;
	background-color: white;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

select::-ms-expand {
	display: none;
}

textarea {
	width: 100%;
}

label {
	display: block;
	margin-bottom: 0.25rem;
	color: #909090;
	font-size: 14px;
	font-size: 0.875rem;
}

::-webkit-input-placeholder {
	color: #909090;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #909090;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #909090;
}

:-ms-input-placeholder {
	color: #909090;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5rem;
}

address {
	margin: 0 0 1.5rem;
}

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6rem;
	padding: 1.6rem;
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: #ff5722;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
	transition-property: background, color, opacity, box-shadow;
}

a:hover,
a:focus,
a:active {
	color: #ff916f;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
	display: inline-block;
}

/** SVG icon */

.icon {
	display: inline-block;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625rem;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	transition: opacity ease-in-out 0.25s;

	fill: currentColor;
}

.icon-stroke {
	display: inline-block;
	position: relative; /* Align more nicely with capital letters */
	top: -0.05em;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	transition: opacity ease-in-out 0.25s;

	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6.25%;
}

.icon-payment {
	overflow: hidden;
	top: 0;
	width: 51px;
	height: 32px;
	border-radius: 3px;
}

svg,
svg symbol {
	overflow: visible;
}

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.5);
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption > a {
	display: block;
}

.wp-caption > a img {
	vertical-align: middle;
}

.wp-caption > a:hover img,
.wp-caption > a:focus img {
	opacity: 0.5;
}

.wp-caption-text {
	padding: 1rem 1rem 0.5rem;
	font-size: 14px;
	font-size: 0.875rem;
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.wp-block-gallery {
	margin-right: -8px;
	margin-left: -8px;
	padding: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"] {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.btn-cta {
		display: inline-block;
		padding: 0.75rem 2rem;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
